/UkMoths/ukmoths@1.html
Askew_Galls/2006AskewZootaxa.pdf
Askew_Galls/2006AskewZootaxa_200720.html
Askew_Galls/2006AskewZootaxa_200720.txt
Askew_Galls/2013AskewZootaxa.pdf
Askew_Galls/Basic_stats.R
Askew_Galls/MB_KM_galls080320_4.csv
Askew_Galls/extract_text_pdf2.bash
FReD/FReD2.csv
FReD/FReD3.csv
FReD/FReD_1.csv
FReD/FReD_2.csv
FReD/FReD_all.csv
FReD/FReD_all2.csv
KewSID/.RData
KewSID/.Rhistory
KewSID/allSpeciesUrls.txt
KewSID/allSpeciesUrlsTidyInterrupted.txt
KewSID/allSpeciesUrlsTidyInterrupted2.txt
KewSID/interruptedUrlData.py
KewSID/observable.csv
KewSID/observable2.csv
KewSID/scrapedSIDdata.csv
KewSID/speciesSID.txt
KewSID/speciesSIDAll.txt
KewSID/speciesSIDInterrupted.txt
KewSID/speciesSIDInterrupted2.txt
